PORT=5000
MONGODB_URI=mongodb+srv://my_portfolio:gb4r97l15s1utG6I@cluster.mongodb.net/my_portfolio?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_key
ADMIN_USERNAME=shahreyartonmoy001@gmail.com
ADMIN_PASSWORD=Shahreyar#001
IMGBB_API_KEY=9fb57e48403be4957a89d0923182ef2b
CLIENT_URL=http://localhost:5173
